<footer>
  <div class="redes">
    <h2>Follow Us!</h2>

    <a href="https://www.instagram.com/"
      ><img
        class="logo"
        src="../../../assets/images/instagram.png"
        alt="instagram"
    /></a>
    <a href="https://twitter.com/"
      ><img class="logo" src="../../../assets/images/twitter.png" alt="twitter"
    /></a>
    <a href="https://www.facebook.com/"
      ><img
        class="logo"
        src="../../../assets/images/facebook.png"
        alt="facebook"
    /></a>
  </div>

  <div>
    <strong>
      <p>©Copyrigth-2022 - All rights reserved.</p>
    </strong>
  </div>
</footer>
